@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
  position: relative;
}

header{
  background: #d5d5d5;
}

nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.nav__link {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 3px solid #2c2c2c;
}

.nav__link:hover {
  border-bottom: 3px solid yellow;
  color: #adadad;
  transition: border-bottom 400ms;
}


.nav__link__a{
  text-decoration: none;
  color: #2c2c2c;
}


.title {
  font-family: 'Bungee', cursive;
  color: #2c2c2c;
  background-color: #d5d5d5;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 30px 0;
  text-align: center;
  font-size: 2.5em;
}

.container {
  height: 1000px;
}

.container__products {
  padding: 20px;
  background: blue;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.container__carrito {
  border-radius: 10px;
  padding: 30px;
  box-shadow:  7px 7px 0px rgba(0, 0, 0, 0.2); ;
  height: 300px;
  width: 350px;
  margin: 50px auto;
}

.product {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3) ;
}

.product__carrito {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.main-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  background: #2c2c2c ;
  color: aliceblue;
  letter-spacing: .05em;
  text-shadow: 
    4px 4px 0px rgb(71, 69, 69), 
    7px 7px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
    
}

.footer__link{
  text-decoration: none;
  color: aliceblue;
}